<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <menuitem id="menu_gsf_jubileum_root"
            name="Guldboda Jubileum"
            sequence="90"/>

  <menuitem id="menu_gsf_jubileum_fastigheter"
            name="Berättelser"
            parent="menu_gsf_jubileum_root"
            action="action_gsf_jubileum_fastigheter"
            sequence="10"/>

</odoo>
